label {
  cursor: pointer;
  user-select: none;
}

.popup__overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .5);
}

.popup__overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -9999px;
  top: 0;
  opacity: 0;
  transition: opacity .4s;
}

#modal-controller {
  display: none;
}

#modal-controller:checked ~ .popup__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.popup__container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
}